* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
}

.container {
  text-align: center;
  padding: 20px;
  max-width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  background: rgba(22, 1, 1, 0.712);
  box-shadow: #ff758c;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.intro {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

#startBtn {
  background: #fff;
  color: #ff4d6d;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#yesBtn {
  background: #fff;
  color: #ff4d6d;
}

#noBtn {
  background: #ff4d6d;
  color: #fff;
  position: relative;
}

.hidden {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  background-color: rgba(22, 1, 1, 0.712);

}

/* Floating hearts */
.heart {
  position: absolute;
  bottom: -10px;
  font-size: 20px;
  animation: floatUp 4s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}


#finalMessage {
  animation: fadeIn 1s ease forwards;
}

#yayy {
  font-size: 2rem;
  margin-bottom: 15px;
}

#typeText {
  font-size: 1.2rem;
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
